.footer__link {
  font-size: 16px;
  line-height: 18px;
  margin-right: 18px;
  margin-bottom: 0;
  color: white;
  font-weight: normal;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.8;
  transition: .2s linear;
}

@media (max-width: 425px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 32px;
  }
}
