/* .cover {
  margin: 92px auto 92px;
  max-width: 1184px;
  position: relative;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .cover {
    max-width: 100%;
    position: relative;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .cover {
    margin-top: 90px;
    margin-bottom: 88px;
  }
}

@media (max-width: 425px) {
  .cover {
    margin: 66px auto 64px;
  }
} */


  .cover {
    max-width: 100%;
    min-height: 200px;
    padding: 0;
    margin: 92px auto;
  }

  
  @media screen and (min-width: 1024px) {
    .cover {
      max-width: 1184px;
      min-height: 740px;
      padding: 0 48px;
    }
  }


  @media (min-width: 426px) and (max-width: 768px) {
    .cover {
      margin-top: 90px;
      margin-bottom: 88px;
    }
  }