.cover__overlay {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  background-image: url(../../../images/__background.png);
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 0;
  margin: 0 auto;
}

.cover__overlay::before {
  content: "";
  background-color: rgba(42, 44, 47, 0.3);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
}

.cover__overlay:hover::before {
  background-color: rgba(42, 44, 47);
  opacity: 0.8;
  transition: .2s linear;
}

@media (min-width: 1280px) {
  .cover__overlay {
    min-height: 740px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media (max-width: 1023px) {
  .cover__overlay {
    height: 62.5vw;
  }
}
