.cover__title {
    font-weight: 900;
    font-size: calc((100vw - 320px)/(1280 - 320) * (72 - 32) + 32px);
    line-height: 1.05;
    text-align: center;
    color: white;
}

@media (min-width: 1280px) {
    .cover__title {
        font-size: 72px;
    }
}