.place__url-heading {
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 0;
  margin: 0 0 12px 0;
  color: rgba(170, 170, 170, 1);
}

@media (max-width: 450px) {
  .place__url-heading {
    margin-left: 16px;
  }
}
